:root {
  --color-primary: #121212;
  --color-secondary: #3d3d3d;
  --color-thertiary: #232323;
  --color-fourth: #4f4f4f;
  --text-color: #fff;
  --button-color-transparent: rgba(255, 255, 255, 0.8);
  --shadow-color: rgba(0, 0, 0, 0.1);
}

[data-theme="light"] {
  --color-primary: #fbfbfb;
  --color-secondary: #e1dbfd;
  --color-thertiary: #c8bef8;
  --color-fourth: #e8f9ff;
  --text-color: #000;
  /* --button-color-transparent: rgba(0, 0, 0, 0.5); */
  --button-color-transparent: rgba(255, 255, 255, 0.8);

  --shadow-color: rgba(0, 0, 0, 0.1);
}

body {
  background-color: var(--color-primary);
  color: var(--text-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-thertiary);
  color: var(--text-color);
  margin: 10px 15px;
  padding: 0 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px var(--shadow-color);
}

.navbar h1 {
  font-size: 1.5rem;
}

.navbar form input {
  padding: 9px;
  background-color: var(--color-secondary);
  border-radius: 5px;
  color: var(--text-color);
  width: 35vw;
  margin: 0 10px;
  border: unset;
  outline: none;
}

.navbar span {
  font-size: 14px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  max-width: 1000px;
  gap: 20px;
  color: var(--text-color);
  margin: 10px auto;
  margin-top: 20px;
  min-height: 84vh;
}

.film-list {
  background-color: var(--color-secondary);
  border-radius: 8px;
}

.light-grey {
  background-color: var(--color-fourth);
}

.light-grey:hover {
  background-color: var(--color-fourth) !important;
}

.cursor-unset {
  cursor: unset !important;
}

.cursor-unset:hover {
  background-color: var(--color-fourth) !important;
}

.relative {
  position: relative;
}

.button {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-thertiary);
  color: var(--text-color);
  border: none;
  cursor: pointer;
  font-size: 0.65rem;
}

.films .button span {
  display: inline-block;
}

.movie {
  display: flex;
  gap: 10px;
  border-radius: 8px;
}

.row {
  padding: 18px 30px;
  flex-direction: row;
  align-items: center;
}

.column {
  flex-direction: column;
  align-items: left;
}

.movie:hover {
  background-color: var(--color-fourth);
  cursor: pointer;
}

.movie .title {
  display: flex;
  flex-direction: column;
}

.movie .title h3 {
  font-size: 0.9rem;
  margin: 5px 10px;
}

.movie .title p {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 14px;
  margin: 5px 10px;
}

.movie .poster {
  width: 45px;
}

hr {
  width: 95%;
  border: 1px solid var(--color-fourth);
  margin: 0 auto;
}

.watchList h1 {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.watch-list-info {
  padding: 20px;
  height: 107.6px;
}

.gap-20 {
  gap: 20px;
}

.watch-list-info-details {
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mg-l-0 {
  margin-left: 0 !important;
}

.watchList .title {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: start;
}

.relative {
  position: relative;
}

.letter-spacing-unset {
  letter-spacing: normal !important;
}

.shadow {
  box-shadow: 0 0 15px var(--shadow-color);
}

.poster-details {
  display: flex;
  flex-direction: column;
}
.pointer {
  cursor: pointer;
}

.poster-title {
  display: flex;
  height: 237px;
  background-color: var(--color-fourth);
  gap: 25px;
}

.poster-title img {
  width: 160px;
}

.title-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 12px 0;
  padding: 0;
}

.title-details * {
  margin: 0;
  padding: 0;
}

.title-details div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.star-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 15px;
}

.star {
  background-color: var(--color-fourth);
  height: 70px;
  padding: 0 40px;
  border-radius: 8px;
  width: 350px;
}

.star-about p {
  font-size: 15px;
  width: 350px;
}

.back-arrow {
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 50%;
  border: unset;
  color: black;
  background-color: var(--button-color-transparent);
  cursor: pointer;
  font-size: 16px;
}


.watch-list-details {
  display: flex;
  flex-direction: column;
  padding: 12px 25px;
  padding-bottom: 15px;
  background-color: var(--color-fourth);
  border-radius: 8px 8px 0 0 ;
}

.watch-list-details h1 {
  margin-top: 5px;
  font-size: 20px;
}